.main {
	font-family: "Vitesse SSm A", "Vitesse SSm B";
	font-style: normal;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	text-align: center;
	background: tomato;
	color: bisque;
}

.main a, .main a:visited, .main a:link {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
}
